<div class='detailCard card'>
  <h1 class='detail_title'>{{ title }}</h1>
  <div>
  <h2 class='detail_text'>
    Week #: {{ listing.weekNum }}<br>
    Unit #: {{ listing.unitNum }}<br>
    # Bedrooms: {{ listing.numBedrooms }}<br>
    Occupancy: {{ listing.occupancy }}<br>
    Privacy: {{ listing.privacy }}<br>
    Contact Name: {{ listing.contactName }}<br>
    Email: {{ listing.email }}<br>
    Phone: {{ listing.phone }}<br>
    Description: {{ listing.description }}<br>
    Notes: {{ listing.notes }}<br>
    Submitted/Updated: {{ listing.submittedUpdated }}<br>
  </h2>
  </div>
</div>
