<div>
    <div *ngIf="!this.tsdService.selectDetail">
        <!--<filteringBar></filteringBar>  TODO: Create component to filter and sort listings by user input-->
        <div *ngFor='let listing of listings' (click)="toCardDetail(listing)">
            <listingCard [listing]="listing"></listingCard>
        </div>
    </div>
    <br>
    <div *ngIf="this.tsdService.selectDetail">
        <div class='card'>
            <br>
            <span class='button card' (click)='toMaster()'><< Back</span><br>
            <listing-detail [listing]='this.tsdService.selectedListing'></listing-detail>
        </div>
    </div>
</div>
